/* colory
primary rgba(254, 75, 169, 1)
heder-bg rgba(95, 20, 156, 1)
background rgba(0, 17, 61, 1)
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
}
.heading__primary{
    font-size: 4.6rem;
    font-weight:normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1rem;

}
.heading__sub{
    font-size: 2rem;
    font-weight:normal;
    text-transform: uppercase;
    text-align: center;
    
}
.heading__secondary{
    font-size: 3.6rem;
    text-transform: capitalize;
    font-weight: 400;
    
}
.heading__tertiary{
    font-size: 1.8rem;
    color: #FE4BA9;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
.heading__quaternary{
    color: black;
    font-size: 1.2rem;
    padding: 1rem
    
}
body{
    font-family:"Poppins";
    font-weight: normal;
    color: white;
    font-size: 1.5rem;
    
}
.container {
    margin: 0 auto;
    max-width: 1440px;
    height: 900px;
}

.header {
    width: 100%;
    height: 80vh;
    padding: 5rem 13.5rem;
    background-image: linear-gradient( to right, rgba(95, 20, 156, 0.91),rgba(95, 20, 156, 0.91)), 
    url(../assets/images/background-heder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.contact{
    font-size: 1.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__email-box{
    margin-right: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;


}
.contact__phone-box{

    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__phone, 
.contact__email {
    margin-left: 5px;
}
.logo{
    font-size: 6.4rem;
}
.social{
    display: flex;

}

.social__logo{
    width: 6.4rem;
    height: 6.4rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__logo--primary{
    background-color: rgba(254, 75, 169, 1);
}

.button{
    padding: 1.6rem 6.5rem;
    background: rgb(254, 75, 169);
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
    box-shadow: 0px 9px 5px rgba(0, 0, 0, 0.5)
    
}
.button:hover{
    background: rgb(253, 61, 186);
    
}
.button:active{
    transform: translateY(3px);
    color: black;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.5)
}
.about{

    padding: 5rem 13.5rem;
    background-color:rgba(0, 17, 61, 1);
}
.about>.heading__secondary{
    margin-bottom: 4rem;
}

.about-us{
    margin-bottom: 4rem;
}
.owners{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
    
}
.owner{
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    
}
.owner__img{
    width: 100%;
    
}
.owner__name{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.services{
    background-color: black;
    padding: 5rem 13.5rem;
}
.services>.heading__secondary{
    text-align: center;
    margin-bottom: 4rem;
    
}
.cards{
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card{
     background: rgba(95, 20, 156, 1);
     border-radius: 8px;
     padding: 1.8rem;
     margin-bottom: 4rem;
     flex-basis: 28%;

     display:flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
    }
 .card__titel{
     /* width: 20rem; */
     font-size: 1.8rem;
     text-transform: uppercase;
 }
 .baner{
     width: 100%;
     height: 15rem;
     background: rgba(254, 75, 169, 1);

     display: flex;
     justify-content: center;
     align-items: center;   
 }
 .heading__secondary>span{
    color: black;
 }
 .footer{
     background: rgba(0, 17, 61, 1);
     padding: 5rem 13.5rem;
 }
.footer__box{
    width: 100%;
    
    display: flex;
    margin-bottom: 3rem;

    justify-content: space-between;
    align-items: center;  
}

.social__logo--f{
    width: 4rem;
    height: 4rem;
}
.logo--f{
    font-size: 4rem;
}
.copy{
    font-size: 1.2rem;
    text-align: end;
}

@media (max-width: 1200px){
    html{
        font-size: 57%;
    }
}
@media (max-width: 1024px){
    html{
        font-size: 45%;
    }
    .social__logo--f{
        width: 5rem;
        height: 5rem;
    }

   
}
@media (max-width: 768px){
    html{
        font-size: 40%;
    }
    .header, .about, .services, .baner, .footer{
        padding: 3rem 3rem;
    }
    .logo{
        font-size: 5rem;
    }
    p.about-us{
    font-size: 2rem;
    letter-spacing: 1px;
    }
    .baner>.heading__secondary{
        font-size: 3rem;
    }
    .heading__quaternary{
    font-size: 1.5rem;
    }
    .social__logo--f{
        width: 6rem;
        height: 6rem;
    }
}
@media (max-width: 539px)
{
    html{
        font-size: 35%;
    }
    nav>.contact, .nav>.social{
        display: none;
    }
        
    .nav{
        justify-content: center;
    }
    .button{
        font-size: 2rem;
    }
    .heading__quaternary{
        font-size: 2rem;
    }
    .owners{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .owner:first-child{
        margin-bottom: 3rem;
    }
    .card{
        flex-basis: 46%;
    }
    .baner>.heading__secondary{
        font-size: 3rem;
        text-align: center;
    }
    .footer__box{
        height: 15rem;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .logo-box--f{
        display: none;
    }
    
}

